* {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
  }
  
  body {
      width: auto;
      background-repeat: repeat;
      background-attachment: absolute;
      margin: 0px

  }


  /*  HEADER WITH NAV  */

header {
    top: 0px;
    left: 0px;
    right: 0px;
}

  .topnav {
    margin-top: 10px;
    height: 80px;
    width: 100%;
    background: #ffffff;
    font: 700 'Josefin Sans', sans-serif;
  }

        #name-left {
            float: left;
            width: auto;
            height: 80px;
            font-size: 30px;
            line-height: 34px;
            color: #ffffff;
            background-color: #4aaaa5;
            padding: 0px 33px 0px 33px;
            vertical-align: middle;
            margin-left: 80px;
        }

        #navi-right {
            float: right;
            margin-right: 80px;
            font-size: 20px;
            width: auto;
            height: 80px;
            padding: 0px;
            
        }

        .container:after {
            content: "";
            display: table;
            clear: both;
        }

        ul {
            width: auto;
            height: auto;
            padding: 10px;
            background: white;
        }
    
        li {
            display: inline;
            list-style: none;
            padding: 0px 5px 0px 5px;
        }

          a:link {
            color: #777777;
          }
        
          a:visited {
            color: #8fabc5;
          }
        
          a:hover {
            color: #4aaaa5;
          }


/* BODY AREA */

.row{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 80px;

}

.header2 {
    font-size: 23px;
    border: 1px;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: left;

}

.header3 {
    font-size: 23px;
    border: 1px;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
}

.column-left {
    float: left;
    width: 660px;
    padding: 10px;
    background: white;
    margin-right: 30px;
}

img { 
    margin-right: 10px;
    margin-bottom: 10px;
}

.wrap {
    float: left;
}

.column-right {
    float: left;
    width: 270px;
    padding: 10px;
    background: white;
    margin-left: 0px;
    display: table;
    table-layout: fixed;
}

.container1 {
    float: left;
    padding: 10px 10px 0px 12px;
}


#sidebar {
    padding: 5px;
    background: white;
    width: 270px;
  }


  .row2 {
      width: 50px;
      height: 50px;
      display: inline;
  }

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}



/* FOOTER */
    .footer {
        float: bottom;
        width: 100%;
        height: 80px;
        position: relative;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: #cccccc;
        text-align: center;
        margin-top: 10px;
        }
        


        #footer-accent {
        float: top;
        width: 100%;
        height: 8px;
        background-color: #4aaaa5;
        }

        #footer-text-box {
        padding: 50px 0px 10px 0px;
        float: bottom;
        width: 100%;
        height: 72px;
        background-color: black;
        color: lightgrey;
        text-align: center;
        font-size: 10px;
        }

        .footer:after {
            content: "";
            display: table;
            clear: both;
        }


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:735px) {

    .topnav {
        margin-top: 10px;
        width: 600px;
        overflow: hidden;
        margin-left: 10px;
    }


    #name-left {
        margin-left: 0px;
        padding: 0px 10px 0px 10px;
        }

    #navi-right {
        float: right;
        margin: 0px;
        text-align: right;
        margin-right: 20px;
        }

    .row {
        margin-left: 0px;
    }
    
    .column-left {
        width: 600px;
        margin-left: 10px;
        margin-bottom: 20px;
    }
        
    .column-right {
        width: 600px;
    }

    footer {
        bottom: 0px;
        margin: 0px;
        width: 600px;
        margin-left: 10px;
    }

}
